<div translate="no">
    <div translate="yes">
        This is not included
    </div>
</div>
<span translate="no">
    <span translate="yes">
        This is not included
    </span>
</span>
<h1 translate="no">
    <h1 translate="yes">
        This is not included
    </h1>
</h1>
<div>A</div>
<span>B</span>
<h1>C</h1>